:root {
  --iris: #4d5ae5;
  --navyblue: #2e2f42;
  --cloud: #f4f4fd;
  --cornflower: #e7e9fc;
  --ocean: #404bbf;
  --slate: #434455;
  --white: #fff;
  --mintgreen: #31d0aa;
  --dairy: #fcfcfc;
  --modal-input: rgba(46, 47, 66, 0.4);
  --lightslate: #8e8f99;
}

/*CSS Reset*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

img {
  display: block;
  width: 100%;
  max-width: 100%;
  height: auto;
}

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

/* General Styles*/

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  letter-spacing: 0.03em;
  color: var(--slate);
  background-color: var(--white);
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.link {
  text-decoration: none;
  color: inherit;
}

.logo-link {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17;
  text-decoration: none;
}

.logo,
.studio {
  color: var(--iris);
  display: inline-block;
}

.button {
  border-color: transparent;
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.03em;
  cursor: pointer;
  border-radius: 4px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button.primary {
  color: white;
  background-color: var(--iris);
  /*line-height: 1.87;*/
  letter-spacing: 0.06em;
  padding: 16px 32px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

.button.primary:hover,
.button.primary:focus {
  background-color: var(--ocean);
  color: var(--cloud);
}

.section-title {
  font-size: 36px;
  font-weight: 700px;
  line-height: 1.17;
  color: var(--navyblue);
  text-align: center;
  margin-bottom: 72px;
}

.section {
  padding: 96px 0;

  @media screen and (min-width: 1200px) {
    padding: 120px 0;
  }
}

.section.no-top-padding {
  padding: 0;
}

.container {
  min-width: 320px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;

  @media screen and (min-width: 480px) {
    width: 480px;
  }

  @media screen and (min-width: 768px) {
    width: 768px;
  }

  @media screen and (min-width: 1200px) {
    width: 1200px;
  }
}

/* Header */

/* .menu,
.navigation,
.nav-menu,
.contacts-menu {
  display: flex;
  align-items: center;
} */

.menu,
.navigation {
  display: flex;
  align-items: center;
  height: 70px;
  flex-shrink: 0;

  @media screen and (min-width: 768px) {
    height: 72px;
  }
}

.menu {
  justify-content: space-between;
}

.navigation {
  gap: 95px;
}

.nav-menu {
  display: none;

  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: center;
    gap: 50px;
  }
}

.contacts-menu {
  display: none;

  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: column;
  }

  @media screen and (min-width: 1200px) {
    flex-direction: row;
  }
}

.page-header {
  border-bottom: 1px solid var(--cornflower);
  /*width: auto;*/
}

.page-header .studio {
  color: var(--navyblue);
}

/*.nav-menu {
  margin-left: 93px;
}*/

.nav-page {
  font-weight: 500;
}

.contacts-link {
  @media screen and (min-width: 768px) {
    font-size: 12px;
  }

  @media screen and (min-width: 1200px) {
    font-size: 16px;
  }
}

.contacts-item {
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    padding: 8px 0;
  }
}

.nav-page,
.contacts-link {
  @media screen and (min-width: 768px) {
    text-decoration: none;
    line-height: 1.14;
    letter-spacing: 0.02em;
    display: block;
    /*padding: 27px 0;*/
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.nav-page {
  @media screen and (min-width: 768px) {
    padding: 27px 0;
  }
}

.nav-page:hover,
.nav-page:focus,
.nav-page.current,
.contacts-link:hover,
.contacts-link:focus {
  color: var(--iris);
}

/*.nav-item:not(:last-child) {
  margin-right: 50px;
}*/

.contacts-item:not(:last-child) {
  @media screen and (min-width: 1200px) {
    margin-right: 50px;
  }
}

.contacts-menu {
  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: center;
  }
}

.nav-page {
  position: relative;
}

.nav-page.current::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 4px;
  border: 2px solid var(--ocean);
  border-radius: 2px;
  background-color: var(--ocean);
}

.nav-page::after {
  content: "";
  border-radius: 2px;
  height: 4px;
  width: 0;
  position: absolute;
  left: 0;
  bottom: -1px;
  transition: width 250ms ease-in-out, background-color 250ms ease-in-out;
}

.nav-page:hover::after,
.nav-page:focus::after {
  border: 2px solid var(--ocean);
  background-color: var(--ocean);
  width: 100%;
}

/* Hamburger Menu Open*/

.mobile-menu-toggle {
  display: flex;
  align-items: center;
  justify-content: center;

  margin-left: auto;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;
  color: var(--navyblue);

  @media screen and (min-width: 768px) {
    display: none;
  }
}

.mobile-menu-icon {
  fill: currentColor;
}

/* Hamburger Menu Navigations and Close Icon */

.mobile-close-button {
  position: absolute;
  top: 24px;
  right: 24px;
  padding: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  /*background-color: var(--cornflower);*/
  color: var(--navyblue);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  cursor: pointer;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-close-icon {
  fill: currentColor;
}

.mobile-close-button:hover,
.mobile-close-button:focus {
  background-color: var(--ocean);
  color: var(--white);
}

.mobile-menu-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 80px 35px 40px 40px;
  background-color: var(--white);
  z-index: 200;

  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-container.is-open {
  transform: translateY(0);
}

/* Mobile Navigation */

/*.mobile-menu-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
} */

.mobile-nav-item {
  margin-bottom: 40px;
}

.mobile-nav-page {
  display: block;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: var(--navyblue);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-nav-page:hover,
.mobile-nav-page:focus,
.mobile-nav-page.current {
  color: var(--ocean);
}

.mobile-contacts-menu {
  margin-top: 100px;
  margin-bottom: 48px;
  display: flex;
  flex-direction: column;
  gap: 40px;

  @media screen and (min-height: 700px) {
    margin-top: 150px;
  }

  @media screen and (min-height: 750px) {
    margin-top: 200px;
  }

  @media screen and (min-height: 800px) {
    margin-top: 284px;
  }
}

.mobile-contacts-link {
  color: inherit;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-contacts-link:hover,
.mobile-contacts-link:focus {
  color: var(--ocean);
}

.mobile-tel {
  font-size: 36px;
  padding-bottom: 40px;
  margin-bottom: 40px;
  font-weight: 700;
  color: var(--iris);
}

.mobile-email {
  font-size: 20px;
  margin-top: 40px;
  padding-top: 40px;
  color: var(--slate);
  font-weight: 500;
}

/* Mobile Socials */
.mobile-social-list {
  display: flex;
  gap: 20px;

  @media screen and (min-width: 350px) {
    gap: 30px;
  }

  @media screen and (min-width: 380px) {
    gap: 40px;
  }

  @media screen and (min-width: 428px) {
    gap: 56px;
  }
}

.mobile-social-item {
  width: 40px;
  height: 40px;
}

.mobile-social-link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  color: var(--cloud);
  background-color: var(--iris);

  display: flex;
  justify-content: center;
  align-items: center;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-social-link:hover,
.mobile-social-link:focus {
  background-color: var(--mintgreen);
}

.mobile-social-icon {
  fill: currentColor;
}

/* Hero Section - Section 1 */

.hero {
  padding: 112px 0;
  text-align: center;
  background-size: cover;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero-bg-mobile.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: var(--navyblue);
  flex-shrink: 0;

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero-bg-mobile@2x.jpg);
    background-size: cover;
  }

  @media screen and (min-width: 768px) {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero-bg-tablet.jpg);
    background-size: cover;

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/hero-bg-tablet@2x.jpg);
      background-size: cover;
    }
  }

  @media screen and (min-width: 1200px) {
    padding: 188px 0;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero-bg-desktop.png);
    background-size: cover;

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/hero-bg-desktop@2x.jpg);
      background-size: cover;
    }
  }
}

.hero-title {
  font-size: 36px;
  font-weight: 700;
  text-align: center;
  line-height: 1.36;
  letter-spacing: 0.06em;
  color: var(--white);
  margin-bottom: 48px;

  @media screen and (min-width: 768px) {
    font-size: 56px;
  }
}

/* Modal Window */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  /*min-width: 408px;*/
  /*height: 100vh;*/
  background-color: var(--dairy);
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  @media screen and (min-width: 428px) {
    /*height: auto;*/
    width: 428px;
    height: 608px;
  }

  @media screen and (min-width: 768px) {
    width: 408px;
  }
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0);
}

.modal-close-button {
  position: absolute;
  top: 24px;
  right: 24px;
  padding: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  background-color: var(--cornflower);
  color: var(--navyblue);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  cursor: pointer;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-icon {
  fill: currentColor;
}

.modal-close-button:hover,
.modal-close-button:focus {
  background-color: var(--ocean);
  color: var(--white);
}

.is-hidden {
  visibility: none;
  opacity: 0;
  pointer-events: none;
}

.form-instructions {
  color: var(--navyblue);
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  padding: 72px 24px 34px 24px;
}

/* Modal Form */
.form {
  padding: 0 24px;
}

.form-field {
  display: block;
  position: relative;
}

.form-label {
  position: absolute;
  top: -15px;
  font-size: 12px;
  line-height: 0.87;
  letter-spacing: 0.01em;
  color: var(--lightslate);
}

.form-input,
.form-textarea {
  display: block;
  width: 100%;
  margin-bottom: 29px;
  padding: 11px 16px 11px 40px;
  border: 1px solid var(--modal-input);
  border-radius: 4px;
  font-size: 12px;
  line-height: 1.2;
  letter-spacing: 0.01em;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:hover,
.form-input:focus,
.form-input:hover,
.form-input:focus,
.form-textarea:hover,
.form-textarea:focus {
  border-color: var(--iris);
  outline: none;
}

.form-textarea {
  resize: none;
  padding-left: 16px;
  margin-bottom: 16px;
}

.form-textarea::placeholder {
  color: var(--modal-input);
  font-size: 12px;
  line-height: 0.87;
  letter-spacing: 0.01em;
}

.form-icon {
  position: absolute;
  top: 50%;
  left: 18px;
  transform: translateY(-50%);
  fill: var(--navyblue);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:hover + .form-icon,
.form-input:focus + .form-icon {
  fill: var(--iris);
}

.form .agreement {
  font-size: 12px;
  color: var(--lightslate);
  display: flex;
  align-items: center;
}

.agreement > .terms {
  color: var(--iris);
  margin-left: 4px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: no-wrap;
  clip-path: inset(100%);
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}

.checkbox-icon {
  fill: none;
  border: 2px solid var(--modal-input);
  border-radius: 2px;
  margin-right: 7px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox-icon:hover {
  border-color: var(--iris);
}

.form .checkbox:checked + .checkbox-icon {
  background-color: var(--iris);
  fill: var(--white);
  border-color: var(--iris);
}

.button.center {
  display: block;
  margin: 24px auto;
  width: 170px;
}

/* Benefits - Section 2 */

.benefits-list {
  display: flex;
  flex-wrap: wrap;
  /*margin-left: -30px;
  margin-top: -30px;*/
  justify-content: center;
  align-items: center;
  row-gap: 72px;

  @media screen and (min-width: 768px) {
    column-gap: 24px;
  }
}

.benefits-item {
  width: 396px;

  @media screen and (min-width: 768px) {
    /*width: 331px;*/
    width: 356px;
  }

  @media screen and (min-width: 1200px) {
    width: 270px;
  }

  /*flex-basis: calc(100% / 4 - 30px);
  margin-left: 30px;
  margin-top: 30px; 
   @media screen and (min-width: 768px) {
    width: calc((100% - 30px) / 2);
  }

  @media screen and (min-width: 1200px) {
    width: calc(100% / 4 - 30px); 
  } */
}

.benefits-title {
  font-size: 36px;
  margin-bottom: 8px;
  text-align: center;
  color: var(--navyblue);

  @media screen and (min-width: 768px) {
    text-align: left;
  }

  @media screen and (min-width: 1200px) {
    font-size: 20px;
    font-weight: 500;
  }
}

.benefits-description {
  color: var(--slate);
  line-height: 1.71;
  font-size: 16px;
  font-weight: 500;

  @media screen and (min-width: 768px) {
    font-size: 18px;
  }

  @media screen and (min-width: 1200px) {
    font-size: 16px;
    font-weight: 400;
  }
}

/*Icons - Benefits*/

.benefits-icon-wrapper {
  display: none;

  @media screen and (min-width: 1200px) {
    display: block;
    padding: 24px 100px;
    background-color: var(--cloud);
    gap: 36px;
    margin-bottom: 8px;
  }
}

/* What We Do - Section 3*/

.what-we-do-title {
  display: none;

  @media screen and (min-width: 1200px) {
    display: block;
    font-size: 36px;
    font-weight: 700px;
    line-height: 1.17;
    color: var(--navyblue);
    text-align: center;
    margin-bottom: 50px;
  }
}

.what-we-do-list {
  display: none;

  @media screen and (min-width: 1200px) {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
    justify-content: space-between;
  }
}

.what-we-do-item {
  flex-basis: (100% / 3 - 30px);
  margin-left: 30px;
  margin-top: 30px;
}

/* Our Team - Section 4 */

.bg-team {
  background: var(--cloud);
}

.team-list {
  margin-top: 0px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 72px;

  @media screen and (min-width: 768px) {
    row-gap: 64px;
    column-gap: 24px;
  }

  @media screen and (min-width: 1200px) {
    flex-wrap: nowrap;
    column-gap: 24px;
  }
}

.team-item {
  background: white;
  /*width: 100%;*/
  /*flex-basis: calc(100% / 4 - 30px);*/
  /*margin-left: 15px;
  margin-right: 15px;*/
  margin-top: 0px;
  padding-bottom: 30px;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.12);

  /*  @media screen and (min-width: 768px) {
    width: calc((100% - 30px) / 2);
  }

  @media screen and (min-width: 1200px) {
    width: calc((100% - 45px) / 4); 
  } */
}

.substrate {
  background-color: white;
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: 0;
}

.team-name,
.team-position {
  line-height: 1.19;
  text-align: center;
}

.team-name {
  font-size: 20px;
  font-weight: 500;
  color: var(--navyblue);
  padding-top: 30px;
  padding-bottom: 10px;
}

.team-position {
  color: var(--slate);
  font-size: 16px;
  font-weight: 400;
}

/* Icons - Team */
.socmed-list {
  display: flex;
  gap: 24px;
  padding-top: 10px;
  justify-content: center;
}

.socmed-item {
  width: 40px;
  height: 40px;
}

.socmed-link {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--iris);
  color: var(--cloud);
  border-radius: 50%;
  width: 100%;
  height: 100%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.socmed-icon {
  fill: currentColor;
  width: 16px;
  height: 16px;
}

.socmed-link:hover,
.socmed-link:focus,
.socmed-link:active {
  background-color: var(--mintgreen);
}

/* Icons - Customers */

.partners-list {
  display: flex;
  column-gap: 16px;
  row-gap: 72px;
  flex-wrap: wrap;
  justify-content: center;

  @media screen and (min-width: 768px) {
    column-gap: 24px;
  }

  @media screen and (min-width: 1200px) {
    flex-wrap: nowrap;
  }
}

.partners-item {
  width: calc((100% - 30px) / 2);
  height: 88px;

  @media screen and (min-width: 768px) {
    width: calc((100% - 60px) / 3);
  }

  @media screen and (min-width: 1200px) {
    width: calc((100% - 150px) / 6);
  }
}

.partners-link {
  color: #8e8f99;
  width: 100%;
  height: 100%;
  border: 1px solid #8e8f99;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.partners-link:hover,
.partners-link:focus,
.partners-link:active {
  color: var(--ocean);
  border-color: var(--ocean);
}

.partners-icon {
  width: 104px;
  height: 56px;
  fill: currentColor;
}

/* Footer */

.page-footer {
  background: var(--navyblue);
  padding: 96px 0;
  width: 100%;
  height: 664px;
  margin: 0 auto;

  @media screen and (min-width: 768px) {
    height: 456px;
  }

  @media screen and (min-width: 1200px) {
    /* padding: 60px 0 60px 60px;*/
    height: 312px;
    padding: 100px 0;
  }
}

.page-footer > .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.studio-footer {
  color: var(--cloud);
}

.footer-description {
  color: var(--cloud);
  padding-top: 17.5px;
  line-height: 1.5;
  font-weight: 400;
  font-size: 16px;
  text-align: left;
}

.footer {
  display: flex;
  flex-wrap: wrap;
  /*margin-top: -12px;
  margin-left: -50px;*/
  gap: 72px;
  align-items: baseline;
  justify-content: center;
  text-align: center;

  @media screen and (min-width: 768px) {
    column-gap: 24px;
    row-gap: 72px;
    text-align: left;
  }

  @media screen and (min-width: 1200px) {
    gap: 80px;
  }
}

/*.footer-address {
  margin-top: 12px;
  margin-left: 25px; 
  padding-right: 40px;
}*/

/*.footer-block {
  /* margin-top: 12px;
  @media screen and (min-width: 768px) {
    margin-left: 123px;
  margin: 0;
  width: 208;
  height: 80;
} */

.footer-heading {
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.32px;
  color: var(--white);
  /* margin-top: 72px;

  @media screen and (min-width: 768px) {
    margin-top: 0;
  } */
}

.social-footer {
  display: flex;
  gap: 16px;
  padding-top: 16px;
  justify-content: center;
}

.social-footer-item {
  width: 40px;
  height: 40px;
}

.social-footer-link {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--iris);
  color: var(--cloud);
  border-radius: 50%;
  width: 100%;
  height: 100%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-footer-link:hover,
.social-footer-link:focus,
.social-footer-link:active {
  background-color: var(--mintgreen);
}

.social-footer-icon {
  fill: currentColor;
  width: 24px;
  height: 24px;
}

/*.footer-form {
  margin-left: 80px;
  display: flex;
}*/

.footer-input {
  color: var(--white);
  height: 40px;
  padding: 8px 16px;
  margin-top: 16px;
  font-size: 14px;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid var(--white, #fff);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  outline: none;
  min-width: 300px;
  width: 100%;

  @media screen and (min-width: 428px) {
    width: 398px;
  }

  @media screen and (min-width: 768px) {
    width: 264px;
  }
}

.footer-input::placeholder {
  color: var(--white, #fff);
  font-size: 12px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.48px;
}

.subscribe-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 8px 24px;
  gap: 16px;
  border: none;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.64px;
  border-radius: 4px;
  color: var(--white);
  background-color: var(--iris);
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-top: 16px;

  @media screen and (min-width: 768px) {
    /*margin-top: 0;*/
    margin-left: 24px;
  }
}

.subscribe-button:hover {
  background-color: var(--ocean);
}

.subscribe-icon {
  fill: var(--white);
  width: 24px;
  height: 20px;
}

/* Portfolio Page */

.portfolio-section-padding {
  padding-top: 48px;

  @media screen and (min-width: 768px) {
    padding-top: 64px;
  }

  @media screen and (min-width: 1200px) {
    padding-top: 100px;
  }
}

.filters {
  display: flex;
  justify-content: left;
  margin: 0 0 48px 0;
  flex-wrap: wrap;
  row-gap: 16px;
  column-gap: 24px;

  @media screen and (min-width: 768px) {
    justify-content: center;
    flex-wrap: nowrap;
    margin-bottom: 64px;
  }

  @media screen and (min-width: 1200px) {
    margin-bottom: 72px;
  }
}

/* .filters .space + .space {
  margin-left: 8px;
} */

.button.filter {
  background: var(--cloud);
  color: var(--iris);
  font-weight: 500;
  line-height: 1.62;
  padding: 6px 22px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button.filter:hover,
.button.filter:focus,
.button.filter.current {
  background: var(--ocean);
  color: var(--cloud);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.project-list {
  display: flex;
  flex-wrap: wrap;
  /*margin-left: -30px;
  margin-top: -30px;*/
  justify-content: center;
  align-items: center;
  gap: 48px;

  @media screen and (min-width: 768px) {
    row-gap: 72px;
    column-gap: 18px;
    flex-basis: calc(100% / 2);
    justify-content: left;
  }

  @media screen and (min-width: 1200px) {
    flex-basis: calc(100% / 3);
    row-gap: 48px;
    column-gap: 24px;
    justify-content: center;
  }
}

.project-name {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.04em;
  color: var(--navyblue);
  margin-bottom: 4px;
}

.project-type {
  color: var(--slate, #434455);
  font-weight: 400;
  line-height: 1.87;
  font-size: 16px;
}

.project-card {
  flex-basis: unset;
  /*margin-left: 30px;*/
  /*margin-top: 30px;*/
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.project-card:hover {
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.project-card .substrate {
  border: 1px solid var(--cornflower);
  border-top: 0px;
}

.project-cover-wrap {
  position: relative;
  overflow: hidden;
}

.project-cover-text {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  padding: 40px;
  font-size: 18px;
  color: var(--cloud);
  background-color: var(--iris);
  transform: translateY(101%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.project-card:hover .project-cover-text {
  transform: translateY(0);
}
